<div class="width">
	 <h3>ユーザー詳細</h3>

	 <table class="table">
	 	<tbody>
		 	<tr>
		 		<th>ユーザーネーム</th>
		 		<td><%= @user.nickname %></td>
		 	</tr>

		 	<tr>
		 		<th>性別</th>
		 		<td><%= @user.nickname %></td>
		 	</tr>

		 	<tr>
		 		<th>年齢</th>
		 		<td><%= @user.age %>代</td>
		 	</tr>

		 	<tr>
		 		<th>紹介文</th>
		 		<td><%= @user.introduce %></td>
		 	</tr>
		</tbody>
	 </table>


	<% if @user == current_user %>
		<span><%= link_to "編集", edit_user_path %></span>

		<span><%= link_to'応募一覧', offers_index_path(@user) %></span>

		<span><%= link_to "募集一覧", users_path(@user) %></span>

	<% end %>
</div>


