<!DOCTYPE html>
<html>
  <head>
    <title>RunRecruitment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="wf-notosansjapanese">
    <header class="navbar header">
      <div class="container">
        <div class="row">
              <h1 class="navbar-left"><%= link_to "run.net", root_path %>
              </h1>
                <ul class="nav navbar-nav navbar-right">
                  <% if user_signed_in? %>
                    <li><span class="glyphicon glyphicon-leaf" aria-hidden="true"><%= link_to"初めての方へ", homes_about_path %></span></li>
                    <li><span class="glyphicon glyphicon-user" aria-hidden="true"><%= link_to current_user.nickname + "さん", user_path(current_user.id) %></span></li>
                    <li><span class="glyphicon glyphicon-export" aria-hidden="true"><%= link_to"ログアウト", destroy_user_session_path, method: :delete %></span></li>
                    <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"><%= link_to"お問い合わせ" %></span></li>
                  <% else %>
                    <li><span class="glyphicon glyphicon-leaf" aria-hidden="true"><%= link_to "初めての方へ", homes_about_path %></span></li>
                    <li><span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"><%= link_to "新規登録", new_user_registration_path %></span></li>
                    <li><span class="glyphicon glyphicon-import" aria-hidden="true"><%= link_to"ログイン", new_user_session_path %></span></li>
                    <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"><%= link_to "お問い合わせ" %></span></li>
                  <% end %>
                </ul>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
    <%= yield %>
      </div>
    </div>
  </body>
</html>